{% extends 'base.html' %}

{% block content %}

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">شماره پيشنهاد خريدf1</th>
        <th scope="col">تاريخ تاييد پيشنهادf2</th>
        <th scope="col">کد کالاf3</th>
        <th scope="col">شرح کالاf4</th>
        <th scope="col">مقدار پيشنهاد خريدf5</th>
        <th scope="col">تاريخ ايجاد درخواستf6</th>
        <th scope="col">مقدار درخواست خريدf7</th>
        <th scope="col">کد کارشناسf8</th>
        <th scope="col">نام کارشناسf9</th>
        <th scope="col">شرح درخواست خريدf10</th>
        <th scope="col">مقدار سفارشf11</th>
        <th scope="col">قيمت واحدf12</th>
        <th scope="col">کد تامين کنندهf13</th>
        <th scope="col">نام تامین کنندهf14</th>
        <th scope="col">تاريخ رسيد موقتf15</th>
        <th scope="col">مقدار رسيد موقتf16</th>
        <th scope="col">تاريخ کنترل کيفيf17</th>
        <th scope="col">مقدار کنترل کيفيf18</th>
        <th scope="col">تاريخ برگشتf19</th>
        <th scope="col">مقدار برگشتيf20</th>
        <th scope="col">تاريخ رسيد دايمf21</th>
        <th scope="col">مقدار رسيد دايمf22</th>
        <th scope="col">مانده سفارشf23</th>
        <th scope="col">شارژ انبار شدهf24</th>
        <th scope="col">مبلغ کلf25</th>
      </tr>
    </thead>
    <tbody>
        {% for record in dataset.items %}
            <tr>
                
                {% for k,v in record.items %}
                    <td>{{ v }}</td>
                {% endfor %}
            </tr>
        {% endfor %}

        <!-- {% for d in dataset %}
            <tr>
                {% for k,v in d.items %}
                    <td>{{ v }}</td>
                {% endfor %}
            </tr>
        {% endfor %} -->
      
    </tbody>
  </table>
{% endblock %}