{% extends 'base.html' %}

{% block content %}

    <h2 class="text-left">{{ user.username }}</h2>
    <h2 class="text-left">{{ user.email }}</h2>
    {% if request.user.id == user.id %}
        <a href="{% url 'home:post_new' %}" class="btn btn-primary">Create</a>
        <a href="{% url 'account:edit_profile' %}" class="btn btn-info">Edit Profile</a>
    {% endif %}
    {% if request.user.id != user.id and not is_following %}
        <a href="{% url 'account:user_follow' user.id %}" class="btn btn-primary">Follow</a>
    {% elif request.user.id != user.id and is_following %}
        <a href="{% url 'account:user_unfollow' user.id %}" class="btn btn-primary">Unfollow</a>
    {% endif %}


    <hr>
    <div class="card">
        {% for post in posts %}
            <a href="{{ post.get_absolute_url }}" class="card-body">{{ post.title }} <br> ({{ post.created }})</a>
            <hr>
        {% endfor %}
    </div>

{% endblock %}